---
import { filePath } from "../../lib/blog-helpers"
import * as interfaces from "../../lib/types/interfaces"
import Caption from "./Caption.astro"

export interface Props {
  block: interfaces.Block
  files: { path: string; data: string }[]
}

const { block, files } = Astro.props

let image = ""
if (block.Image?.External) {
  image = block.Image?.External.Url
} else if (block.Image?.File) {
  // TODO: Beautify
  image =
    `data:image/png;base64,${
      files.find((file) => file.path.includes(filePath(new URL(block.Image?.File?.Url || ""))))
        ?.data
    }` || ""
}
---

<figure class="image">
  {
    image && (
      <div>
        <div>
          <img src={image} alt="Image in a image block" loading="lazy" />
        </div>
        <Caption richTexts={block.Image?.Caption} />
      </div>
    )
  }
</figure>

<style>
  .image {
    display: flex;
    margin: 0.2rem auto 0;
  }
  .image > div {
    margin: 0 auto;
  }
  .image > div > div {
  }
  .image > div > div img {
    display: block;
    max-width: 100%;
  }
</style>
